
/* extend bootstrap */
.navbar-inverse {
  background-color: #FAFAD2;
}

body {
	background-color: #FAFAD2;
	color: #32CD32;
}

small {
	color: #000000;
}

div.panel-footer {
	background-color: #32CD32;
}

a {
	color: #32CD32;
}
a.footer {
	color: #FAFAD2;
}

p {
	color: #FAFAD2;
	font-size: 20px;
}
p.transmit {
	color: #32CD32;
}